.topNavParent{
    /* width: 100%; */
    background-color: rgb(255, 213, 61);
}
.topNav{
    /* background-color: orange; */
    width: 80%;
    margin: auto;
}.nav-link:hover{
    color: orange;
}
.profileItems{
    width: 14rem;
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-evenly;
    align-items: center;
}
.logoImg{
    height: 4.5rem;
    width: 16rem;
}
.mainNavContainer{
    width: 80%;
    margin: auto;
}
.navsParent{
    width: 40rem;
    position: relative;
    /* left: -5rem; */
    /* display: flex; */
    justify-content: space-between;
    color: black;
    /* transform: translatex(-30px); */
    
}
.imgCaption h1{
    font-size: 5.2rem;
}
.seeMore{
    padding: 12px 3.4rem;
    color: white;
    border: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 1.2rem;
}

.whyChoose h1{
    font-size: 3.5rem;
    font-weight: 500;
}
.whyChoose p{
    font-size: 2rem;
    font-weight: 400;
}
.whyChoose .why{
    color: orange;
}
.whyChoose{
    line-height: 2.5rem;
}
.chooseHr{
    width: 1rem;
    height: 7px;
    background-color: black;
    display: absolute;

}
.choose{
    text-decoration: underline;
}
@media screen and (max-width:380px) {
    .whyChoose{
        /* line-height: 6rem; */
        font-size: smaller;
    }
    .whyChoose h1{
        font-size: 2.1rem;
    }
    .imgCaption h1{
        font-size: 2.2rem;
    }
    .carosalImg{
        height: 16rem;
    }
    .whyChoose p{
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4rem;
        
    }
}
    

